<template>
    <button ref="buttonDelete" @click.prevent="deleteNote" class="btn btn-danger mx-3">Delete</button>
</template>

<script>
export default {
    props: ['slug'],
    methods:{
        async deleteNote(){

            let q = window.confirm('Anda yakin ingin menghapusnya?')

            if(q==true){
                let response = await axios.delete(`/api/notes/${this.slug}`);

                if(response.status==200){
                    this.$refs.buttonDelete.parentNode.parentNode.remove()
                    this.$toasted.show(response.data.message,{type:'success',duration:3000})
                }
            }

            
        }
    }
}
</script>

<style>

</style>