<template>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Create Notes
                </div>
                <div class="card-body">
                    <form @submit.prevent="update">
                        <div class="form-group">
                            <label>Title</label><br>
                            <input v-model="form.title" class="form-control" type="text" id="title">
                            <p v-if="errors.title" class="text-danger">{{errors.title[0]}}</p>
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            <select @change="selectSubject" class="form-control" id="subject"><br>
                                <option :value="form.subject_id">{{form.subject_name}}</option>
                                <template v-for="subject in subjects">
                                    <option v-if="form.subject_id !== subject.id" :key="subject.id" :value="subject.id">{{subject.name}}</option>
                                </template>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Body</label><br>
                            <textarea v-model="form.body" class="form-control" id="body" rows="5"></textarea>
                            <p v-if="errors.body" class="text-danger">{{errors.body[0]}}</p>
                        </div>
                        <button class="btn btn-primary d-flex flex-row" type="submit">
                            <span style="display:inline-block;margin-right:5px">Update</span>
                                <svg v-if="loading"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    style="margin: auto; background: none; display: block; shape-rendering: auto;"
                                    width="20px"
                                    height="20px"
                                    margin-left= "5px"
                                    viewBox="0 0 100 100"
                                    preserveAspectRatio="xMidYMid"
                                >
                                    <g>
                                        <path
                                            d="M50 15A35 35 0 1 0 74.74873734152916 25.251262658470843"
                                            fill="none"
                                            stroke="#a8cfea"
                                            stroke-width="12"
                                        ></path>
                                        <path
                                            d="M49 3L49 27L61 15L49 3"
                                            fill="#a8cfea"
                                        ></path>
                                        <animateTransform
                                            attributeName="transform"
                                            type="rotate"
                                            repeatCount="indefinite"
                                            dur="1s"
                                            values="0 50 50;360 50 50"
                                            keyTimes="0;1"
                                        ></animateTransform>
                                    </g>
                                    <!-- [ldio] generated by https://loading.io/ -->
                                </svg>
                        </button>
                    </form>
                </div>
            </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            loading:false,
            subjects:[],
            form:{
                title:'',
                subject_id:'',
                body:''
            },
            errors:{
                title:'',
                body:'',
                subject_id:'',
            }
        }
    },
    mounted(){
        this.getSubjects()
        this.getNote()
    },
    methods:{
        async getSubjects(){
            let response = await axios.get('/api/subject')
            if(response.status==200){
                this.subjects = response.data.data
                this.form.subject_id = this.subjects[0].id
            }
        },
        async getNote(){
            
            // ambil slug parameter
            let slug =  this.$route.params.slug

            let response = await axios.get('/api/notes/'+slug)
            if(response.status==200){
                this.form = response.data.data
            }
        },
        selectSubject(e){
            this.form.subject_id = e.target.value
        },
        async update(){
            try{
                this.loading=true
                let response = await axios.patch(`/api/notes/${this.$route.params.slug}`,this.form)
                if(response.status==200){
                    this.loading=false
                    this.form.title='';
                    this.form.subject_id='';
                    this.form.body='';
                    this.$toasted.show('Update Note Success',{type:'success',duration:3000})

                    // redirect
                    this.$router.push('/notes/list')
                }
            }catch(e){
                this.loading=false
                this.errors= e.response.data.errors
                this.$toasted.show('something went wrong',{type:'error',duration:3000})
            }
        }
    }
}
</script>