<template>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="py-3">List of Notes</h3>
              <table class="table table-stripped">
                  <thead>
                      <tr>
                          <th>Title</th>
                          <th>Subject</th>
                          <th>Published</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr v-for="note in notes" :key="note.id" >
                          <td class="text-left"><router-link :to="{name:'notes.show',params:{slug:note.slug}}">{{note.title}}</router-link></td>
                          <td>{{note.subject_name}}</td>
                          <td>{{note.published}}</td>
                          <td>
                              <router-link :to="{name:'notes.edit',params:{slug:note.slug}}">Edit</router-link>
                              <delete-note :slug="note.slug" />
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div style="margin:0 auto">
                    <svg v-if="loading"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        style="margin: auto; background: none; display: block; shape-rendering: auto;"
                        width="300px"
                        height="300px"
                        margin-left= "5px"
                        viewBox="0 0 100 100"
                        preserveAspectRatio="xMidYMid"
                    >
                        <g>
                            <path
                                d="M50 15A35 35 0 1 0 74.74873734152916 25.251262658470843"
                                fill="none"
                                stroke="#a8cfea"
                                stroke-width="12"
                            ></path>
                            <path
                                d="M49 3L49 27L61 15L49 3"
                                fill="#a8cfea"
                            ></path>
                            <animateTransform
                                attributeName="transform"
                                type="rotate"
                                repeatCount="indefinite"
                                dur="1s"
                                values="0 50 50;360 50 50"
                                keyTimes="0;1"
                            ></animateTransform>
                        </g>
                        <!-- [ldio] generated by https://loading.io/ -->
                    </svg>
              </div>
          </div>
      </div>
  </div>
</template>

<script>

import DeleteNote from './Delete'

export default {
    components:{
        'delete-note':DeleteNote
    },
    data(){
        return{
            loading:false,
            notes:[]
        }
    },
    mounted(){
        this.getNotes()
    },
    methods:{
        async getNotes(){
            this.loading=true
            let response = await axios.get('/api/notes')

            if(response.status==200){
                this.notes=response.data.data
                this.loading=false
            }
        },
    }
}
</script>