<template>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header">
                      {{note.title}} 
                      <br>
                      Tentang {{note.subject_name}} 
                  </div>
                  <div class="card-body">
                      {{note.body}} 
                      <div>
                          {{note.published}}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            note:{}
        }
    },
    mounted(){
        let slug= this.$route.params.slug
        axios.get('/api/notes/'+slug).then(response=>{
            this.note=response.data.data
        })
    }
}
</script>