<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <comments v-for="commentttt in comments" :comment="commentttt">

        </comments>
    </div>

    <template id="comment-template">
        <div>
            <button @click="tambah">+</button>
            <div>
                {{comment.body}} || {{comment.date}} || {{score}}
            </div>
            <button @click="kurang">-</button>
        </div>
    </template>

    <script src="vue-script.js"></script>
    <script src="index.js"></script>
</body>
</html>